

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @region.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @region.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @region.longitude %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', manage_all_regions_path %>
