<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @distribution.date %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @distribution.participants %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @distribution.quantity %>
</p>

<div class="hidden-routes" id="distribution-routes">
  <%= @distribution.routes %>
</div>

<%= render :partial => "show_googlemap" %>

<p>
  <strong>Comments:</strong>
  <%= @distribution.comments %>
</p>

<%= link_to 'Edit', edit_distribution_path(@distribution) %> |
<%= link_to 'Back', distributions_path %>
