<h1>About Eptah</h1>

<br/><br />

<p>Eptah lets you track of door-to-door distributions by <mark>highlighting</mark> paths which have been covered. Along with each distribution, you can also save other details including number of participants, the quantity of items distributed, and additional comments.</p><br />

<%= image_tag("eptah_sc1.png") %><%= image_tag("eptah_sc2.png") %><br /><br/>


<p>If you have been approved by an admin for a certain city, you may view all distributions in your city.</p><br />

<%= image_tag("eptah_sc4.png") %><%= image_tag("eptah_sc3.png") %><br />

<br/><br/>
<h3>Contact</h3>


For any questions or comments, please contact the <%= mail_to("ysbecca@gmail.com", name = "site admin") %>.