<!DOCTYPE html>
<html>
  <head>
    <title>Eptah</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- Click the site name to return to home page. -->
	      <a class="navbar-brand" href="#">Eptah</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	    	<% if signed_in? %>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Distributions <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><%= link_to "View all", distributions_path %></li>
		            <% if current_user.default_region %>
			            <li><%= link_to "New distribution", new_distribution_path %></li>
			        <% end %>
		          </ul>
		        </li>
	        <% end %>
	        <% if signed_in? %>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><%= link_to "My cities", regions_path %></li>
		            <li><%= link_to "Request to join new city", new_request_path %></li>
		            <li><%= link_to "Pending requests", requests_path %></li>
		          </ul>
		        </li>
	        <% end %>
	        <% if signed_in? %>
		    	<% if current_user.is_admin? %>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><%= link_to "Manage all cities", manage_all_regions_path %></li>
			            <li><%= link_to "New city", new_region_path %></li>
			            <li><%= link_to "Manage city requests", manage_all_requests_path %></li>
			          </ul>
			        </li>
			    <% end %>
			    <!-- Signed in but not admin -->
			    <li><%= link_to "User Settings", user_path(:id => current_user.id) %></li>
	        <% end %>
	        <li><a href="#">About &amp; Contact</a></li>
	      </ul>

	      <form class="navbar-form navbar-right">
	      	<div class="form-group">
		  		<!-- if logged in, display log out option and greeting -->
		      	<% if signed_in? %>
		      		Welcome, <%= current_user.firstname %>   || 
					<%= link_to 'Log out', sign_out_path, method: :delete %>
				<% else %>
				<!-- if not logged in, display link to login page -->
					<%= link_to 'Login or create new account', sign_in_path %>
				<% end %>
			</div>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">

		<% flash.each do |key, value| %>
			<div id="flash" class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="flash <%= key %>"><%= value %></div>
			</div>
		<% end %>
    	<%= yield %>
    </div>
  </body>
</html>
